services:
  db:
    image: timescale/timescaledb-ha:pg14-latest
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: sedai
    ports: ["5432:5432"]
    volumes:
      - ./db/init.sql:/docker-entrypoint-initdb.d/init.sql

  mosquitto:
    image: eclipse-mosquitto:2
    ports: ["1883:1883"]

  minio:
    image: minio/minio
    command: server /data --console-address ":9001"
    environment:
      MINIO_ROOT_USER: minio
      MINIO_ROOT_PASSWORD: minio123
    ports: ["9000:9000", "9001:9001"]

  api:
    build: ../services/api_gateway
    env_file: ../.env
    ports: ["8000:8000"]
    depends_on: [db]

  forecast:
    build: ../services/forecast_service
    env_file: ../.env
    ports: ["8001:8001"]
    depends_on: [db]
    volumes:
      - forecast_models:/app/model_store
    environment:
      MODEL_STORE_PATH: /app/model_store

  dispatch:
    build: ../services/dispatch_service
    env_file: ../.env
    ports: ["8002:8002"]
    depends_on: [db]

  # iot:
  #   build: ../services/iot_ingestor
  #   env_file: ../.env
  #   depends_on: [db, mosquitto]

volumes:
  forecast_models:
    driver: local

